<%- include('../partials/header.ejs') %>

<div class="container">
  <main>
    <h1 class="center">Cart</h1>
    <% if (products.length > 0 ) { %>

      <% totalPrice = 0 %>

    <ul class="cart__item-list">
      <% products.forEach(p => { %>

        <% title = p.productId.title %>
        <% price = p.productId.price %>
        <% quantity = p.quantity %>

      <li class="cart__item">
        <h1><%= title %></h1>
        <h2>Quantity: <%= quantity %></h2>
        <h2>Price: <%= price %></h2>
        <% itemTotalPrice = quantity * price %>
        <!-- <h2>You pay: <%= itemTotalPrice %></h2> -->
        <% totalPrice = totalPrice + itemTotalPrice %>
        <form action="/cart_delete_item" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" value="<%= p.productId._id %>" name="id" />
          <button type="submit" class="btn danger">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>

    <h1 class="center">Total Price: ₦<%= totalPrice %></h1>

    <% } else { %>
    <h1 class="centered">Cart is empty, try adding some products</h1>
    <br />
    <div class="centered">
      <a href="/products" class="btn">Go to shop</a><br><br>
    </div>
    <% } %>

    <hr />
    <div class="centered">
      <a href="/products" class="btn" >Back</a>
      <form action="/create_order" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn">Order Now!</button>
      </form>
      <!-- <form action="/invoice" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn">Generate invoice</button>
      </form> -->
    </div>
  </main>
</div>

<%- include('../partials/footer.ejs') %>
